<div class="row">
	<div class="col-sm-6">
		<div class="container">
			<h3>News & Events</h3>
		</div>
	</div>
	<div class="col-sm-6">
		<button type="button" class="btn backBtn pull-right" (click)="backToManager();">Back</button>
	</div>
</div>

<div class="news-updates1">
	<div class="container">
		<h4>Update News and Events</h4>
		<div class="form-group">
			<label for="input" class="col-md-4 control-label">Top Message</label>
			<div class="col-md-8">
				<textarea class="form-control" id="newsFormControlTextarea1" [(ngModel)]="messageData.top_msg" rows="3"></textarea>
			</div>
			<div class="clear"></div>
		</div>
		<button type="button" class="btn btn-light pull-right" (click)="updateNewsAndEventsMessage()">
			<b>Update</b>
		</button>
	</div>
	<div class="clear"></div>
</div>

<div class="news-updates1">
	<div class="container">
		<h4>Add New News Or Event</h4>
		<form [formGroup]="eventsForm">
			<div class="form-group">
				<label for="input" class="col-md-4 control-label">News / Event Name 1:</label>
				<div class="col-md-8">
					<input type="text" maxlength="50" class="form-control" formControlName="eventName" [(ngModel)]="newsAndEventData.event_name"
					 placeholder="Event Name" [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }">
					<div *ngIf="submitted && f.eventName.errors" class="invalid-feedback">
						<div *ngIf="f.eventName.errors.required" style="color:red">Event Number is required</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="form-group">
				<label for="input" class="col-md-4 control-label">Description 1</label>
				<div class="col-md-8">
					<textarea class="form-control" [(ngModel)]="newsAndEventData.event_desc" rows="3" [(ngModel)]="showMoreControls"
					 [ngModelOptions]="{standalone: true}"></textarea>
				</div>
				<div class="clear"></div>
			</div>

			<div class="form-group">
				<label for="input" class="col-md-4 control-label">Link</label>
				<div class="col-md-8">
					<input type="type" class="form-control" formControlName="eventLink" [(ngModel)]="newsAndEventData.event_link"
					 placeholder="event link" [ngClass]="{ 'is-invalid': submitted && f.eventLink.errors }">
					<div *ngIf="submitted && f.eventLink.errors" class="invalid-feedback">
						<div *ngIf="f.eventLink.errors.required" style="color:red">Event Link is required</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="form-group">
				<label for="input" class="col-md-4 control-label">Active Between</label>
				<div class="col-md-8">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label for="input" class="col-md-5 control-label">Start Date</label>
							<div class="col-md-7">
								<div class="input-group">
									<p-calendar [(ngModel)]="date1" formControlName="StartDate" [showIcon]="true" [(ngModel)]="newsAndEventData.event_startdate"
									 (ngModelChange)="getEventStartDate()" dateFormat="yy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }"></p-calendar>
									<div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
										<div *ngIf="f.StartDate.errors.required" style="color:red">Event startdate is required</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label for="input" class="col-md-5 control-label">End Date</label>
							<div class="col-md-7">
								<div class="input-group">
									<p-calendar [(ngModel)]="date2" formControlName="EndDate" [showIcon]="true" [(ngModel)]="newsAndEventData.event_enddate"
									 (ngModelChange)="getEventEndDate()" dateFormat="yy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }"></p-calendar>
									<div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
										<div *ngIf="f.EndDate.errors.required" style="color:red">Event Enddate is required</div>
									</div>

								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<button type="button" class="btn btn-light pull-right" (click)="addEventAndNews()">
				<b>Add Event / News</b>
			</button>
			<div class="clear"></div>
		</form>
	</div>
</div>