
<div class="tableShow">
  <div class="col-md-2 col-sm-2 col-xs-12 manager-tap-left">
    <div class="nav flex-column nav-pills rs-1-left-button" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link purchase-order" id="v-pills-home-tab" (click)="redirectToPurchaseOrder()" data-toggle="pill"
        href="#purchase" role="tab" aria-controls="purchase" aria-selected="true">Purchase Order</a>
      <br>
      <a class="nav-link supplier-info" id="v-pills-home-tab" (click)="supplierClick();redirectToSupplier()"
        data-toggle="pill" href="#suppliers" role="tab" aria-controls="suppliers" aria-selected="true">Suppliers</a>
    </div>
  </div>
</div>
